.blindsListGroup{
    margin-bottom: 30px;
    font-size: 20px;

    .listHeader{
        .listHeading{
            display: block;
            height: 2.8rem;
            line-height: 2.8rem;
            padding-left: 15px;
            background-color: #007bff;
            border-color: #007bff;
            color: white;

            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }
    }
    .listBody{
        ul{
            margin: 0;
            padding: 0;
            list-style: none;

            li{
                border: 1px solid rgba(0,0,0,.125);
                min-height: 2.8rem;
                line-height: 2.8rem;
                padding-left: 15px;

                &:last-of-type{
                    border-bottom-left-radius: 2px;
                    border-bottom-right-radius: 2px;
                }

                .listEntryHeader{
                }

                .listEntryBody{

                    .blindControlls{
                        display: inline-block;
                        padding: 8px 15px;
                        width: calc(~"100% + 15px");
                        margin-left: -15px;
                        background-color: rgba(0, 0, 0, 0.125);
                        box-shadow: 0px 3px 5px -5px rgba(0,0,0,0.5) inset;

                        & > button{
                            padding: 0;
                            display: inline-block;
                            height: 2.8rem;
                            width: 2.8rem;
                            vertical-align: middle;
                            border: none;
                            border-radius: 50%;
                            box-shadow: 1px 1px 3px -1px black;
                            background-color: white;

                            &:active{
                                box-shadow: 0px 1px 4px -1px black inset;
                            }
                
                            &:not(:last-of-type){
                                margin-right: 44px;
                            }
                
                            .blindButtonIcon{
                                background-position: center;
                                background-size: 60%;
                                background-repeat: no-repeat;
                                display: inline-block;
                                height: 2.8rem;
                                width: 2.8rem;
                            }
                
                            &.fullUpButton{
                                .blindButtonIcon{
                                    transform: rotate(180deg);
                                    background-image: url("/src/styles/img/arrows/doubleDown.svg");
                                }
                            }
                
                            &.upButton{
                                .blindButtonIcon{
                                    transform: rotate(180deg);
                                    background-image: url("/src/styles/img/arrows/singleDown.svg");
                                }
                            }
                
                            &.downButton{
                                padding-top: 2px;
                                .blindButtonIcon{
                                    background-image: url("/src/styles/img/arrows/singleDown.svg");
                                }
                            }
                
                            &.fullDownButton{
                                padding-top: 2px;
                                .blindButtonIcon{
                                    background-image: url("/src/styles/img/arrows/doubleDown.svg"); 
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}