#mixerContainer{
    #onOffContainer{
        text-align: center;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-bottom: 30px;

        .textOff{
            padding-right: 5px;
        }

        .textOn{
            padding-left: 5px;
        }
    }

    #color-picker-container{
        margin: 0 auto;
        width: 320px;
    }
}