#navBar{
    position: fixed;
    height: 100%;
    width: 60px;
    background-color: black;
    top: 0;
    left: 0;

    .navButton{
        height: 50px;
        width: 60px;
        display: block;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 20px;

        &#navLED{
            background-image: url("/src/styles/img/navLED.svg");
        }

        &#navROLLO{
            background-image: url("/src/styles/img/navROLLO.svg");            
        }

        &#saveColor{
            background-image: url("/src/styles/img/save.svg");
            background-size: 70%;    
        }

        &#saveOnOff{
            background-image: url("/src/styles/img/onOff.svg");
            background-size: 90%;    
        }
    }

    .actionContainer{
        width: 60px;
        display: block;
        margin-top: 20px;
        border-top: 1px solid white;
    }
}