input[type=range] {
    -webkit-appearance: none;
    width: 260px;
    display: block;
    margin: 0 auto;
    background-color: transparent;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 28px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: transparent;
    border-radius: 25px;
    border: 0px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    border: 2px solid white;
    height: 18px;
    width: 18px;
    border-radius: 50px;
    background: transparent;
    box-shadow: 0px 0px 0px 1.5px black, 0px 0px 0px 1.5px black inset;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 28px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: transparent;
    border-radius: 25px;
    border: 0px solid #010101;
}

input[type=range]::-moz-range-thumb {
    border: 2px solid white;
    height: 14px;
    width: 14px;
    border-radius: 50px;
    background: transparent;
    box-shadow: 0px 0px 0px 1.5px black, 0px 0px 0px 1.5px black inset;
    cursor: pointer;
}

#rangeDiv{
    background: -moz-linear-gradient(left, #000000 0%, #ffe600 100%);
    background: linear-gradient(to right, #000000 0%,#ffe600 100%);
    background: -webkit-linear-gradient(left, #000000 0%,#ffe600 100%);
    width: 268px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    height: 28px;
    border-radius: 25px;
    padding-top: 5px;
}