.savedColorsContainer{
    margin-top: 40px;
    text-align: center;
    max-width: 360px;

    .storedColor{
        height: 3.5em;
        width: 3.5em;
        border: none;
        color: transparent;
        background-color: white;
        padding: 0;
        border-radius: 50%;
        overflow: hidden;
        margin: 10px;
        border: 1px solid rgb(158, 158, 158);
        position: relative;
        display: inline;

        &:nth-of-type(5):after{
            white-space: pre;
        }

        span{
            position: absolute;
            height: 100%;
            width: 100%;
            display: inline-block;
            margin: 0;
            top: 0;
            float: left;

            &:first-of-type{
                margin-left: -50%;
            }
        }
    }
}
