#storageDialogOverlay{
    position: absolute;
    height: 100%;
    width: 500px;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;

    #storageDialog{
        width: 400px;
        background-color: white;
        margin: 50px auto 0;
        box-shadow: 0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);
        border-radius: 2px;
        z-index: 3;

        h3{
            margin-bottom: 20px;
            text-align: center;
            padding-top: 20px;
        }

        .savedColorsContainer{
            margin: 0 auto;

            .storedColor{
                z-index: 2 !important;
            }
        }

        .buttonContainer{
            text-align: right;
            padding: 20px 35px 20px 20px;

            button{
                background-color: rgb(240,240,240);
                border: 1px solid #f0f0f0;
                padding: 5px;
                border-radius: 2px;
                box-shadow: 1px 1px 2px -1px black;
            }
        }
    }
}