#zoneSelectorContainer{
    margin-bottom: 30px;
    height: 3.5rem;
    background-color: #efefef;
    width: calc(~"100% - 60px");
    position: fixed;
    color: white;
    box-shadow: inset 0px -7px 9px -10px black;
    top: 0;
    left: 60px;

    a{
        float: left;
        width: 20%;
        height: calc(3.5rem - 1px);
        text-decoration: none;
        text-align: center;
        transition: background-color 150ms ease-out;
        padding: 4px;
        color: black;
        background-color: transparent;
        transition: background-color 150ms ease-out;

        &:not(:last-of-type){
            border-right: 1px solid #bababa;
        }
        
        .backgroundSettings{
            background-repeat: no-repeat;
            background-position: center center;
            display: block;
            height: 100%;
            width: 100%;
        }

        &.active{
            background-color: rgba(0, 0, 0, 0.1);
        }

        .zoneIcon{
            display: inline;
            height: 90%;
        }

        .zoneAll{
            line-height: 3rem;
            font-size: 1.6rem;
        }
    }
}