<div id="blindsMainContainer">
    <div class="blindsListGroup">
        <div class="listHeader">
            <span class="listHeading">Rollos</span>
        </div>
        <div class="listBody">
            <ul>
                <li ng-controller="blindCtrl" id="{{ blind.id }}" ng-repeat="blind in allBlinds">
                    <div class="listEntry">
                        <div class="listEntryHeader">
                            <span class="listEntryHeading">{{ blind.name }}</span>
                        </div>
                        <div class="listEntryBody">
                            <div class="blindControlls">
                                <button class="fullUpButton" ng-click="rise()"><span class="blindButtonIcon"></span></span>
                                <button class="upButton"><span class="blindButtonIcon"></span></span>
                                <button class="downButton"><span class="blindButtonIcon"></span></span>
                                <button class="fullDownButton" ng-click="lower()"><span class="blindButtonIcon"></span></span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>