<div ng-if="allZones.length != 0" id="zoneSelectorContainer">
    <a ng-repeat="zone in allZones" href="#/leds/{{ zone.name }}" ng-class="{'active' : activeZone == zone.name}"><img class="zoneIcon" ng-src="{{ zone.icon }}"></a>

    <a id="inputZoneAlle" href="#/leds/all" ng-class="{'active' : activeZone == 'all'}"><span class="zoneAll">Alle</span></a>
</div>

<ng-include ng-if="activeZoneType == 'nano_leaf'" src="'/src/html/nanoLeaf.html'"></ng-include>

<ng-include ng-if="activeZoneType != 'nano_leaf'" src="'/src/html/mixer.html'"></ng-include>

<div ng-if="activeZoneType != 'nano_leaf'" class="savedColorsContainer">
    <h3>Gespeicherte Farben</h3>
    
    <div ng-include="'/src/html/savedColors.html'"></div>
</div>
<ng-include ng-if="activeZoneType != 'nano_leaf'" src="'/src/html/storageDialog.html'"></ng-include>
