<div id="mixerContainer">
    <div id="onOffContainer">
        <span class="textOff">OFF</span>
        <label class="switch">
            <input type="checkbox" ng-checked="onOrOff" ng-click="toggleOnOff()">
            <span class="slider round"></span>
        </label>
        <span class="textOn">ON</span>
    </div>

    <div ng-if="showMixer || activeZoneType != 'nano_leaf'" style="height: 320px;" color-picker initial-color="{{ colorObject }}" id="color-picker-container"></div>
    <div ng-if="activeZoneType == 'rgbw' || activeZoneType == 'rgbw_wifi'">
        <div id="rangeDiv">
            <input white-slider ng-model="slider" ng-change="valueChange()" type="range" min="0" max="255" step="5">
        </div>
    </div>
</div>
