<div ng-controller="nanoLeafCtrl">
    <ng-include src="'/src/html/mixer.html'"></ng-include>
    <h2 style="text-align: center;">Brightness</h2>
    <div id="rangeDiv">
        <input ng-model="brightness" ng-change="brightnessChange()" type="range" min="5" max="255" step="5">
    </div>
</div>