<div id="navBar" ng-controller="navbarCtrl">
    <a class="navButton" id="navLED" href="#/leds"></a>
    <!-- <a class="navButton" id="navROLLO" href="#/blinds"></a> -->

    <div class="actionContainer" ng-if="ledControll">
        <a ng-click="saveColor()" class="navButton" id="saveColor"></a>
    </div>
</div>