<button class="storedColor" ng-repeat="color in storedColors" ng-click="setColor(color, $index)">
    <span real-color></span>
    <span ng-if="color.w != 0" style="background-color: #ffe600"></span>
</button>