<div id="storageDialogOverlay" ng-show="showStorageDialog" ng-controller="storageDialogCtrl">
    <div id="storageDialog">
        <h3>Farbe spiechern</h3>
        <div class="savedColorsContainer">
            <ng-include src="'/src/html/savedColors.html'"></ng-include>
        </div>
        <div class="buttonContainer">
            <button ng-click="closeStorageDialog()">ABBRECHEN</button>
        </div>
    </div>
</div>