@import "./less/navbar.less";

@import "./less/zoneSelect.less";
@import "./less/mixer.less";
@import "./less/savedColors.less";
@import "./less/storageDialog.less";
@import "./less/blinds.less";

@import "./less/rangeInput.less";
@import "./less/slidingToggle.less";

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body{
    margin: 0;
    padding: 0;
    width: 500px;
    background-color: white;
}

#mainContainer{
    width: 500px;
    padding: 0;
    margin: 0 auto;
    background-color: white;
}


#contentContainer{
    display: inline-block;
    margin-left: 90px;
    width: 360px;
    margin-top: 3.5em;
}

#blindsMainContainer{
    margin-top: 30px;
    width: 360px;
}

h2{
    font-weight: normal;
}